@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    height: auto;
    font-family: 'Commissioner', sans-serif;
    font-size: 16px;
    font-weight: 400;
    background-color: #fafafa;
}

p {
    color: #7a7a7a;
}

.header {
    margin-top: 0;
    margin-left: 0;
    max-width: 100%;
    height: 400px;
    z-index: 0;
    background-image: url(img/image-hero-desktop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: white;
}
.navbar {
    height: 100px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
}

.nav-links,
.logo-link {
    text-decoration: none;
    color: white;
}

.menu ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.menu ul li {
    text-align: center;
    margin: 15px;
}


.main-block {
    position: absolute;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    top: 300px;
    z-index: 1;
    display: flex;
    flex-direction: column;


}
.main-block-header, .main-block-price, .main-block-about {
    margin: 8px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0.5px 0.5px 0.5px #7a7a7a;
    padding: 5% 5% 5% 5%;
}

.main-block-logo {
    z-index: 2;
    align-self: center;
    position: absolute;
    top: -20px;
}

.main-block-header {
    text-align: center;
}
.main-block-header h2, p {
    margin-top: 15px;
    margin-bottom: 15px;
}
.main-block-header-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.back-button {
    background-color: #147b74;
    color: white;
    height: 40px;
    width: 160px;
    border-radius: 20px;
    border-style: none;
    font-family: 'Commissioner', sans-serif;
    font-weight: 700;
}
.back-button:hover {
    cursor: pointer;
    background-color: #3cb4ac;
}

/* Breakpoints*/

@media all and (max-width: 375px) {
    .header {
        background-image: url(img/image-hero-mobile.jpg);
        height: 600px;
    }

    .menu {
        display: none;
    }
}

@media screen and (min-width: 1440px) {
    .header {
        background-image: url(img/image-hero-desktop.jpg);
        height: 400px;
    }
}